.loader::before {
    transform: rotateX(70deg);
    }
    
    .loader::after {
    transform: rotateY(70deg);
    animation-delay: 0.4s;
    }
    
    @keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
    }
    
    @keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
    }
    
    @keyframes spin {
    0%,
    100% {
        box-shadow: 5px 0px 0 0px #1517a3;
    }
    12% {
        box-shadow: 5px 5px 0 0 #1517a3;
    }
    25% {
        box-shadow: 0 5px 0 0px #1517a3;
    }
    37% {
        box-shadow: -5px 5px 0 0 #1517a3;
    }
    50% {
        box-shadow: -5px 0 0 0 #1517a3;
    }
    62% {
        box-shadow: -5px -5px 0 0 #1517a3;
    }
    75% {
        box-shadow: 0px -5px 0 0 #1517a3;
    }
    87% {
        box-shadow: 5px -5px 0 0 #1517a3;
    }
    }
    button {
        outline: none;
        color: #fff;
        border: none;
        background: #0f8499;
        cursor: pointer;
        transition: all 0.3s linear;
        position: relative;
        padding: 8px 16px;
        margin: 8px 0px;
      }
    
    button:hover {
    background: transparent;
    color: #d0c8c5;
    font-weight: bolder;
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    }
    
    button:before,
    button:after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #ff3e00;
    transition: all 0.3s ease;
    }
    
    button:before {
    top: 0;
    }
    
    button:after {
    bottom: 0;
    }
    
    button:hover:before,
    button:hover:after {
    height: 0;
    background-color: #0077ff;
    }
    .loader {
        width: 56px;
        height: 56px;
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        z-index: 11;
      }
    
      .loader::before,
      .loader::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        animation: 0.8s spin linear infinite;
      }