html {
    font-family: "roboto", sans-serif;
    color: #fff !important;
    scroll-behavior: smooth;
    font-size: 14px;
}
p {
    opacity: 0.9;
    margin-bottom: 16px;
    line-height: 1.5;
    font-weight: 500;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.black-bg {
    background-color: #100e17;
    opacity: 0.9;
}

.pd-page {
    padding: 100px 0 60px 0;
}
.white-text {
    color: #fff ;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 15px;
}

.font-25 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}
.height-144 {
    min-height: 144px;
}
.center-x {
    margin: 0 auto;
}
.center-y {
    margin: auto 0;;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap {
    flex: 1 1 10px;   
}
.margin-12 {
    margin: 12px;
}
.py-15 {
    padding: 15px 0;
}
.p-15 {
    padding: 15px;
}
.px-15 {
    padding: 0 15px;
}
.px-180 {
    padding: 180px 0;
}
.pd-section {
    padding: 100px 0 60px 0;
}
.p-30 {
    padding: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
.main-text {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
}
.detail-text {
    opacity: 0.9;
    margin-bottom: 30px;
}
.border-color {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 6px 10px;
}
.box-item {
    box-shadow: -1rem 0 3rem #000;
    padding: 20px;
    width: 100%;
    border-radius: 4px;
    background-color: #202026;
}
.form-control {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.sky-color {
    color: #2796e2;
}
.iron-color {
    color: #ed7256;
}
.purple-color {
    color: #9774fa;
}
.fa {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
}
.fa-border {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50% !important;
    line-height: 100px !important;
    font-size: 20px;
    border-color: #0bceaf !important;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
    /* -------- */
    /* BODY-CSS */
#top-bar {
    left: 0;
    right: 0;
    top: 0;
    height: 64px ;
    z-index: 10;
    position: fixed;
}
.nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 64px;
    background-color: #202026;
}
.nav img {
    max-height: 32px;
}
.nav .subnav a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    margin: 32px;
    padding: 8px 16px;
}
.nav .subnav a:hover{
    cursor: pointer;
    color: #0bceaf !important;
}
.avt-intro {
    margin: 0 auto;
}

.text-intro {
    padding-top: 100px;
}
.text-intro .hello {
    margin-bottom: 30px;
}
.span-color{
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0bceaf;
    border-radius: 20px 20px 20px 0;
}
.text-intro .name {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}
.text-intro .name-job {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 30px;
}
.contact-intro{
    margin-bottom: 40px;
}

.img-avt{
    max-width: 360px;
    width: 100%;
    border-radius: 50%;
    border: 40px solid rgba(0, 0, 0, 0.4);
}
.sub-about {
    margin-bottom: 60px;
}
.map-img {
    background: url("../img/map-color-overlay.png") top center / cover no-repeat;
    
}
#contact {
    width: 100vw;
}
.contact-img {
    opacity: 0.7;
    border-radius: 8px;
}